/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FULL HEIGHT FIX */
html, body, #root {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

/* REMOVE CENTERING FROM VITE DEFAULT */
body {
  display: block;
  background-color: #ffffff;
}

/* GLOBAL CONTAINER */
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
}